@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

#root{
  font: 16px/1.5 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  min-width: 100vh;
  /* change text color to black; */
  color: #000000;
}

body{
  /* background-color: #b8b8b8; */
  background-color: #ffffff;
}